@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.main {
  width: 65%;
  margin: auto;
}

.title_main {
  font-size: 30px;
  font-weight: 800px;
  text-align: center;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

.new_button {
    margin-top: 40px;
    text-align: center;
}

.new_button a {
    padding: 15px 20px;
    background-color: #4287f5;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.new_button a:hover {
    background-color: #3859b5;
    transition: 0.3s;
}